<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books Inventory Table</title>
</head>
<body>
    <h1>List of Books Inventory</h1>

    <ul>
        <% for (let book of books) { %>
            <li><a href="<%= book._id %>"><%= book.title %></a></li>
            <% } %>
    </ul>
    <a href="/">Main Page</a>
</body>
</html>